<div class="row" id="module">

    <div class="col-lg-10">

        

        <div class="row">

            <div class="col-1">
                <img [src]="image" class="img-fluid d-none d-md-inline"  alt="image" width="60px" height="60px">
            </div>

            <div class="col-11">

                <div class="row">
                    <p  id="title">{{title}}</p>
                </div>
                <div class="row">
                    <p class="d-none d-sm-inline" id="description">{{description}}</p>
                </div>

            </div>
            
            
        </div>

    </div>
    <div class="col-lg-2">
        <div class="row">
            
            <div class="col-3">
                <img id="campana" class="img-fluid" src="../../../assets/title-bills/campana.png" alt="campana" width="30px" height="30px">
            </div>
            <div class="col-9">
                <app-profile-menu/>
            </div>

        </div>
    </div>

</div>



