<div class="row">

    <div class="col-lg-10">

        

        <div class="row">

            <div class="col-1">
                <img [src]="image" alt="image" width="60px" height="60px">
            </div>

            <div class="col-11">

                <div class="row">
                    <h1>{{title}}</h1>
                </div>
                <div class="row">
                    <h6>{{description}}</h6>
                </div>

            </div>
            
            
        </div>

    </div>
    <div class="col-lg-2">

    </div>

</div>



