#products{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

#sidebar{
    background-color: white;
}

#title{
    padding: 40px;
    padding-top: 20px;
    border-radius: 10px;

}