<div id="bills">
    <div id="title">
        <app-title-module id="title"[title]="'Facturación'" [image]="'../../assets/title-bills/sell.png'" [description]="'En esta sección puedes hacer las facturas y ver un reporte de ellas'"/>
    </div>
    <div class="row">

        <div class="col-lg-6 col-md-12">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_1.png'" />
        </div>
        <div class="col-lg-6 col-md-12">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_2.png'" />
        </div>
        <div class="col-lg-6 col-md-12">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_3.png'"/>
        </div>
        <div class="col-lg-6 col-md-12">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_4.png'"/>
        </div>
        
    </div>

    <div class="row" id="realizar-factura">

        <div class="col-lg-10 col-sm-6">
            <h2>Realizar una factura</h2>
        </div>
        <div class="col-lg-2 col-sm-6">
            <button type="button" id="btn-crear-factura" class="btn btn-primary">Crear factura</button>
        </div>
    
    </div>
    
</div>

