<div id="bills">
    <div id="title">
        <app-title-module id="title"[title]="'Facturación'" [image]="'../../assets/title-bills/sell.png'" [description]="'En esta sección puedes hacer las facturas y ver un reporte de ellas'"/>
    </div>
    <div class="row">

        <div class="col">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_1.png'" />
        </div>
        <div class="col">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_2.png'" />
        </div>
        <div class="col">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_3.png'"/>
        </div>
        <div class="col">
            <app-bills-metric [image]="'./../assets/metric-bills/bag_4.png'"/>
        </div>
        
    </div>
</div>

