<div class="row">

    <div class="col-7 col">

        <div class="row">

            <div class="col-7">

                <div class="col">
                    <img src="assets/login/sombrero.png" alt="sombrero" class="img-fluid">
                </div>

                <div class="col">
                    <h6 class="">Remates la 7ma</h6>
                </div>

                <div class="col">
                    <h6>ERP System</h6>
                </div>

            </div>
            
            <div class="col-5">
                <button class="button">Iniciar Sesion</button>
            </div>

        </div>
    </div>

    <div class="col-5 col">

        <div class="row vh-100" id="img">
           
        </div>
        
    </div>

</div>