.container {
    background-color: blue;
}

#form {
    
}

#img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.5s;
}

#container {
    height: 100%;
    margin-top: 3%;
}
  
  .row {
    height: 100%;
  }