<div class="container-fluid" id="sidebar">

    <div class="row">
        <img src="../../../assets/home/sombrero.png" alt="Logo" class="img-fluid">
    </div>
    <div class="row">
        <p class="text-center"> Remates la 7ma</p>
    </div>

    <div id="modules">

        <div class="row">

            <img class="icon-item" width="80" height="80" src="https://img.icons8.com/dotty/80/sell-stock.png" alt="sell-stock"/>
            <p style="display: inline;">Ventas</p>
            
        </div>
        <div class="row">
            <p>Gestión de productos</p>
        </div>
        <div class="row">
            <p>Gestión de clientes</p>
        </div>
        <div class="row">
            <p>Gestión de proveedores</p>
        </div>
        <div class="row">
            <p>Facturación</p>
        </div>
    </div>
</div>